__pycache__
.vscode
model
tasks/csmri/data
tasks/pr/data
tasks/spi/data
tasks/ct/data
train_log
tfpnp_old
results-base4
results2
.idea
checkpoints
results
tfpnp/pnp/denoiser/pretrained
log
*egg*
.ssh
.rsyncignore
develop
saved